{% assign avalible = product.selected_or_first_available_variant.avalible %}
<div class="collection-atc">
  {% for variant in product.variants %}
    <input type="hidden" value="{{ variant.id }}" id="getVarId">
  {% endfor %}
  <button type="button" name="add-atc" id="collection-cart-{{ product.id }}">
    {% comment %}
      {% if avalible == true %}
        Add
      {% else %}
        Sold Out
      {% endif %}
    {% endcomment %}
    Add
  </button>
</div>

<script>
      // const productId = document.querySelectorAll("#collection-cart-{{ product.id }}");

      //   productId.forEach(item => {
      //     item.addEventListener("click", () => {
      //       console.log("button Clicked");
      //     });
      //   });

      $(document).on('click', '#collection-cart-{{ product.id }}', function() {
      let getvarintid = $(this).parents('.collection-atc').find('#getVarId').val();
      alert("ok");
      let formobj = {
          quantity: 1,
          id: getvarintid
      };
  });
</script>
