{% assign avalible = product.selected_or_first_available_variant.avalible %}
<div class="collection-atc">
  {% for variant in product.variants %}
    <input type="hidden" value="{{ variant.id }}" id="getVarId">
  {% endfor %}
  <button type="button" name="add-atc" id="collection-cart-{{ product.id }}">
    {% comment %}
      {% if avalible == true %}
        Add
      {% else %}
        Sold Out
      {% endif %}
    {% endcomment %}
    Add
  </button>
</div>

<script>
   // const productId = document.querySelectorAll("#collection-cart-{{ product.id }}");

   //   productId.forEach(item => {
   //     item.addEventListener("click", () => {
   //       console.log("button Clicked");
   //     });
   //   });

   $(document).on('click', '.collection-cart', function(event) {
    event.preventDefault(); // Prevent default form submission
    let getVariantId = $(this).siblings('.getVarId').val();
    let formObj = {
      quantity: 1,
      id: getVariantId
    };

    $.ajax({
      type: "POST",
      url: "/cart/add.js",
      cache: false,
      data: formObj,
      dataType: "json",
      success: function(data) {
        console.log('success');
        $('.cartbtnicon').click();
        $('#cart-drawer').removeClass('is-empty');
        $('.drawer_inner-empty').hide();
        $('#cart-drawer').load(location.href + " #CartDrawer");
        $('#cart-icon-bubble').load(location.href + " #cart-icon-bubble");
      },
      error: function(xhr, ajaxOption, thrownError) {
        console.log("error");
      }
    });
  });
</script>
