{% assign available = product.selected_or_first_available_variant.available %}

<div class="collection-atc">
  {% for variant in product.variants %}
    <input type="hidden" value="{{ variant.id }}" class="getVarId">
  {% endfor %}
  <button type="button" name="add-atc" class="collection-cart" data-product-id="{{ product.id }}">
    {% if available %}
      Add
    {% else %}
      Sold Out
    {% endif %}
  </button>
</div>

<script>
  $(document).ready(function() {
    $(document).on('click', '.collection-cart', function(event) {
      event.preventDefault(); // Prevent default form submission

      let getVariantId = $(this).siblings('.getVarId').val();
      let formObj = {
        quantity: 1,
        id: getVariantId
      };

      $.ajax({
        type: "POST",
        url: "/cart/add.js",
        cache: false,
        data: formObj,
        dataType: "json",
        success: function(data) {
          console.log('success');
          $('.cartbtnicon').click();
          $('#cart-drawer').removeClass('is-empty');
          $('.drawer_inner-empty').hide();
          $('#cart-drawer').load(location.href + " #CartDrawer");
          $('#cart-icon-bubble').load(location.href + " #cart-icon-bubble");
        },
        error: function(xhr, ajaxOption, thrownError) {
          console.log("error");
        }
      });
    });
  });
</script>
