<svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="Ebene 1" width="18" height="10.8" viewBox="0 0 18 10.8">
  <title>171121-icons-hawego-shop</title>
  <path d="M9.392,8.12637,17.47837.16166A.92218.92218,0,0,0,17,0H1A.92562.92562,0,0,0,.5168.16485L8.608,8.12681A.56989.56989,0,0,0,9.392,8.12637Z" fill="#e74011"/>
  <path d="M.01208.93082C.011.94818,0,.96443,0,.98179V9.81815a.80857.80857,0,0,0,.06.25164L4.67336,5.51788Z" fill="#e74011"/>
  <path d="M17.94111,10.06556A.81373.81373,0,0,0,18,9.81815V.98179c0-.01944-.01208-.03773-.01362-.05718L13.3251,5.516Z" fill="#e74011"/>
  <path d="M10.02305,8.76841a1.46835,1.46835,0,0,1-2.0461.00044L5.37979,6.21293.78157,10.74979A.841.841,0,0,0,1,10.8H17a.84016.84016,0,0,0,.22259-.0512L12.61912,6.21129Z" fill="#e74011"/>
</svg>
