<section class="main-section">
  {% content_for 'blocks' %}
</section>

{% schema %}
{
  "name": "Padding Section",
  "settings": [],
  "presets": [
    {
      "name": "Padding Section",
    }
  ]
}
{% endschema %}
