<div class="main-section">
  <h2>Padding section</h2>
</div>

{% schema %}
  {
    "name": "Padding Section",
    "settings": [],
    "presets": [
      {
        "name": "Padding Section",
      }
    ]
  }
{% endschema %}