.product-prices {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: baseline;
}
.hide{
  display: none;
}
.product-images ul.thumbs-image {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 0;
    justify-content: center;
}

.product-images ul.thumbs-image li img {
    width: 70px;
    height: 100%;
}

.product-images ul.thumbs-image li.selected {
    border: 1px solid red;
}
ul.thumbs-image li {
    cursor: pointer;
}

.custom-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-image1,
.banner-image2 {
  flex: 0 0 50%;
}

.banner-image1 img,
.banner-image2 img {
  width: 100%;
  max-width: 100%;
}

/*/////Custom Cart Drawer start////////*/


.bundle-products {
    display: flex;
    /* flex-wrap: wrap; */
  align-items: center;
    justify-content: space-between;
}
}


/*/////Custom Cart Drawer start////////*/


/*/////Custom Menu Section start////////*/
.Custom-menu-section h2 {
  text-align: center;
  font-size: 32px;
}
nav.custom-nav {
  background-color: powderblue;
  padding: 1px 20px;
}
ul li {
  list-style: none;
}
.menu-links li a {
  text-decoration: none;
  color: black;
  padding: 20px;
}
ul.menu-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  justify-content: center;
}

li.menu-item {
  position: relative;
}

ul.submenu {
  position: absolute;
  display: none;
  background-color: powderblue;
  top: 100%;
  left: 50%;
  width: 150px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
li.menu-item:hover > .submenu {
  display: block;
}
ul.subsubmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 80%;
  padding: 20px;
  background-color: powderblue;
  z-index: 1;
}
.submenu li:hover > .subsubmenu {
  display: block;
}
/*/ ////Custom Menu Section End////////*/

/*/ ////Custom ProductHandle Section START////////*/

.custom-producthandle {
  display: flex;
  flex-wrap: wrap;
}

.product-data {
  flex: 0 0 33.33%;
}

.product-data .product-image img {
  width: 100%;
  max-width: 100%;
}
.product-image {
  line-height: 0px;
}

/*/ ////Custom ProductHandle Section END////////*/

/*/ ////Custom Popup Section Section Start////////*/

.custom-popup-section {
  max-width: 290px;
  padding: 10px;
}

.top-heading {
  background-color: #e74011;
}

.top-heading p {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 0px 10px;
}
.bottom-content .phone-contact,
.whatsapp-contact,
.mail-contact,
.add-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*/ ////Custom Popup Section  END////////*/

/*/ ////Custom Product Page  START////////*/
.custom-product-template {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.product-images {
  flex: 0 0 50%;
}

.product-info {
  flex: 0 0 50%;
  padding: 0 30px;
}

.product-images img {
  width: 100%;
  max-width: 100%;
}
.custom-product-template .product-info h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
.custom-product-template .product-info span.variant-sku {
    color: black;
    font-size: 16px;
    line-height: 25px;
}

.product-options fiedlset legend, .custom-product-template label.custom-quantity{
    color: black;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 10px;
}

.product-options fiedlset .option-with-values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    margin: 10px 0;
}
.option-with-values input[type="radio"] {
    display: none;
}
.custom-product-template .product-options {
    margin: 18px 0;
}
.option-with-values label {
    color: black;
    font-size: 15px;
    line-height: 25px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    border: 1px solid black;
}
.option-with-values label:hover {
    color: #fff;
    background: black;
    border-color: black;
}
.custom-product-template .quantity-selctor input {
    max-width: 50px;
    padding: 2px;
    text-align: center;
    border: none;
   background: transparent;
}

.custom-product-template .quantity-selctor button {
    border: none;
    background: unset;
    cursor: pointer;
}

.custom-product-template .quantity-selctor {
    max-width: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #EFEFEF;
    padding: 10px 0;
    justify-content: space-evenly;
}

.custom-product-template .quantity-selctor button svg {
    width: 1rem;
}
.custom-product-template .peoduct-atc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
    row-gap: 20px;
}

.custom-product-template .peoduct-atc button {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    background: black;
    color: white;
    flex: 0 0 100%;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    border: 0.5px solid black;
}

.custom-product-template .peoduct-atc button:hover {
    color: black;
    background: white;
    border-color: black;
}
.product-prices p.product-compare {
    text-decoration: line-through;
    font-size: 14px !important;
    line-height: 22px !important;
}
.product-info .product-prices p {
    font-size: 25px;
    color: black;
    line-height: 35px;
    margin: 0;
}
.quantity__button_disabled {
    cursor: not-allowed !important;
    opacity: .5;
}


/*/ ////Custom Product Page  END////////*/

/*/ ////Custom Login Page  START////////*/
.custom-login {
  max-width: 600px;
  text-align: center;
}
.custom-login h2 {
  font-size: 48px;
}
.input-fields input[type="email"] {
  width: 100%;
  padding: 10px;
  outline: none;
  box-shadow: none;
}

.input-fields input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  outline: none;
  box-shadow: none;
}

.input-fields button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  width: 100%;
  cursor: pointer;
}

/*/ ////Custom Login  Page  END////////*/

/*/ ////Custom Registran Page  Start////////*/
.custom-registration {
  max-width: 600px;
}

.custom-registration h2 {
  font-size: 48px;
  text-align: center;
}
.first-name input[type="text"],
.last-name input,
.email input,
.password input {
  width: 100%;
  padding: 10px;
  outline: none;
  box-shadow: none;
  line-height: 25px;
  margin: 10px 0;
}
.custom-registration .submit input {
  padding: 12px 20px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

/*/ ////Custom Registran  Page  END////////*/

/*/ ////Custom Message Section START////////*/

.custom-message-banner .banner-image img {
  width: 100%;
  max-width: 100%;
}
.banner-image {
  line-height: 0;
}
.custom-message-banner {
  position: relative;
}

.banner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.banner-info .banner-content p {
  text-align: center;
  font-size: 48px;
  color: white;
}
/*/ ////Custom Message Section END////////*/
